PRIVATE_KEY=
SWAP_AMOUNT=0.1

RPC_ENDPOINT=https://mainnet.helius-rpc.com/?api-key=
RPC_WEBSOCKET_ENDPOINT=wss://mainnet.helius-rpc.com/?api-key=

DISTRIBUTION_WALLETNUM=6       

JITO_FEE=0.02

TOKEN_NAME="Test"
TOKEN_SYMBOL="Test"
DESCRIPTION="Test token of Test"
TOKEN_SHOW_NAME="Test"
TOKEN_CREATE_ON="Today"
TWITTER="https://x.com/rrr"
TELEGRAM="https://t.me/www"
WEBSITE="https://test.com"
FILE="./image/1.jpg"

DELAY_1=2000
DELAY_2=1000

WALLET_1=
WALLET_1_AMOUNT=0.6
WALLET_1_DELAY=2000
WALLET_2=
WALLET_2_DELAY=3000
WALLET_2_AMOUNT=0.7
WALLET_3=
WALLET_3_AMOUNT=0.008
WALLET_3_DELAY=3000
WALLET_4=
WALLET_4_AMOUNT=0.4
WALLET_4_DELAY=2000
WALLET_5=
WALLET_5_AMOUNT=0.5
WALLET_5_DELAY=4000
WALLET_6=
WALLET_6_AMOUNT=0.3
WALLET_6_DELAY=1000